In [1]:
import pandas as pd

In [4]:
df = pd.from_json('diversityorgs.tech.json').fillna('')

In [24]:
df = df.drop(columns=['website', 'region', 'notes', 'github', 'twitter', 'meetup'])

In [16]:
def update_links(row):
    if not row.links:
        links = []
        if row.twitter:
            links.append(row.twitter)
        if row.github:
            links.append(row.github)
        if row.meetup:
            links.append(row.meetup)
        row.links = links

In [17]:
df.apply(lambda x:update_links(x), axis=1)

0      None
1      None
2      None
3      None
4      None
       ...
489    None
490    None
491    None
492    None
493    None
Length: 494, dtype: object

In [25]:
df.head()

,name,technology_focus,id,url,links,organization_logo,global_org_url_from_parent_organization,donate,diversity_focus,city,parent_organization
0,Women Who Code Sacramento,[General Technology],da34fccf17ddf90fdd86d3db5032dbfee0276ea7,https://womenwhocode.com/sacramento,[],https://kjaymiller.s3-us-west-2.amazonaws.com/...,https://womenwhocode.org,,[Women in Tech],"Sacramento, USA",Women Who Code
1,Women Who Code Delhi,[General Technology],c381510996558522bea62e89e20fed9799c02b8e,https://womenwhocode.com/delhi,[],https://kjaymiller.s3-us-west-2.amazonaws.com/...,https://womenwhocode.org,,[Women in Tech],"Delhi, India",Women Who Code
2,Women Who Code Berlin,[General Technology],e9c55454abfc845458880962bb3c26c2bbe6f871,https://womenwhocode.com/berlin,[],https://kjaymiller.s3-us-west-2.amazonaws.com/...,https://womenwhocode.org,,[Women in Tech],"Berlin, Germany",Women Who Code
3,Women Who Code Data Science,[General Technology],3804b4191dab056cf7b3ce2590474529c5e1e876,https://womenwhocode.com/datascience,[],https://kjaymiller.s3-us-west-2.amazonaws.com/...,https://womenwhocode.org,,[Women in Tech],"Data Science, Global",Women Who Code
4,Women Who Code Monterrey,[General Technology],bf1aa3d4698df16edb3a5a99fa5febacfbdb5921,https://womenwhocode.com/monterrey,[],https://kjaymiller.s3-us-west-2.amazonaws.com/...,https://womenwhocode.org,,[Women in Tech],"Monterrey, Mexico",Women Who Code

In [19]:
df[df['twitter'] != '']

Empty DataFrame
Columns: [name, twitter, technology_focus, github, id, website, meetup, region, notes, url, links, organization_logo, global_org_url_from_parent_organization, donate, diversity_focus, city, parent_organization]
Index: []

In [26]:
df.to_json('updated_diversityorgs.tech.json', orient="records")