In [1]:
import pandas as pd
from fuzzywuzzy import process, fuzz

/Users/kjaymiller/.pyenv/versions/3.9.1/envs/diversity/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
df = pd.read_json('updated_diversity_orgs.json').fillna('')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 17 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   name                                     494 non-null    object
 1   url                                      494 non-null    object
 2   links                                    494 non-null    object
 3   technology_focus                         494 non-null    object
 4   organization_logo                        494 non-null    object
 5   id                                       494 non-null    object
 6   diversity_focus                          494 non-null    object
 7   city                                     494 non-null    object
 8   parent_organization                      494 non-null    object
 9   global_org_url_from_parent_organization  494 non-null    object
 10  twitter                                  494 non-null    object
 11  github                                   494 non-null    object
 12  website                                  494 non-null    object
 13  meetup                                   494 non-null    object
 14  region                                   494 non-null    object
 15  notes                                    494 non-null    object
 16  donate                                   494 non-null    object
dtypes: object(17)
memory usage: 65.7+ KB

In [4]:
for col in df[['name','city']]:
    df[col] = df[col].str.strip()
    print('Number of unique values in ' + str(col) +': ' + str(df[col].nunique()))

Number of unique values in name: 494
Number of unique values in city: 324

In [5]:
# This shows where duplicates may exist
def replacements(df=df):
    """generate a list of unique values group them based on similarity"""
    unique_city = df['city'].unique().tolist()
    score_sort = [(x,) + i
                 for x in unique_city 
                 for i in process.extract(x, unique_city, scorer=fuzz.token_sort_ratio)]
    #Create a dataframe from the tuples
    similarity_sort = pd.DataFrame(score_sort, columns=['city_sort','match_sort','score_sort'])
    return similarity_sort[similarity_sort['score_sort'].between(80, 99)]

In [6]:
groups = replacements().groupby(by=['match_sort'])
groups.count()[groups.count()['city_sort'] >= 1]

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']

                             city_sort  score_sort
match_sort
Belfast, United Kingdom              1           1
Birmingham                           1           1
Birmingham, USA                      1           1
Bristol, United Kingdom              1           1
Cincinnati, United States            1           1
Delhi, India                         1           1
Denver                               1           1
Denver, CO                           1           1
Indianapolis, United States          1           1
Knoxville, Tennessee                 1           1
London, United Kingdom               1           1
Los Angeles                          1           1
Los Angeles, CA                      1           1
Mexico City, Mexico                  1           1
Minneapolis                          1           1
Minneapolis, USA                     1           1
Montreal, Canada                     1           1
Montreal, Quebec, Canada             1           1
México City, Mexico                  1           1
Nashville, Tennessee                 1           1
New Delhi, India                     1           1
Salt Lake City, USA                  1           1
Salt Lake City, Utah                 1           1
Silicon Valley, CA                   1           1
Silicon Valley, USA                  1           1
United Kingdom                       1           1

In [7]:
# Get the List and Check Against a City
city = 'New York'
unique_list = replacements()
unique_list[unique_list['match_sort'].str.contains(city)]

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '']

Empty DataFrame
Columns: [city_sort, match_sort, score_sort]
Index: []

In [8]:
def unify(df, match_series, city_sort_value):
    """
    given a dataframe(df) and match_series,
    set all values of the dataframe to the city_sort_value
    """
    matcher = match_series[match_series['match_sort'] == city_sort_value]['city_sort']
    df.loc[df['city'].isin(matcher), ['city']] = city_sort_value

In [9]:
cities = [
    'Washington, DC',
    'Atlanta, GA',
    'Austin, TX',
    'Boston, MA',
    'Los Angeles, CA'
    'Houston, TX',
    'Cleveland, OH',
    'San Diego, CA',
    'Dallas, TX',
    'Portland, OR',
    'Raleigh-Durham, NC',
    'San Francisco, CA',
    'Seattle, WA',
    'Rio De Janeiro, Brazil',
    'London, UK',
    'Twin Cities, USA',
    'São Paulo, Brazil',
    'Tel Aviv, Israel',
    'New York City, NY'
    ]

In [10]:
# Choose a value to match against and change all found values to that assigned value
for city in cities:
    unify(df, unique_list, city)

In [11]:
# To Make a Brute Force change
df.loc[df['city'].str.contains('London'), ['city']] = "London, United Kingdom"

In [12]:
# To check a value in the DF
df[df['city'].str.contains("London")]

,name,url,links,technology_focus,organization_logo,id,diversity_focus,city,parent_organization,global_org_url_from_parent_organization,twitter,github,website,meetup,region,notes,donate
1,Coding Black Females,https://codingblackfemales.com,[https://www.instagram.com/codingblackfemales/...,"[General Technology, Job Board]",https://codingblackfemales.com/img/cbf_logo.png,a4dc6f83a6217fbb023ea38d5dc740e2ca440bca,"[Women, BIPOC]","London, United Kingdom",,,,,,,,,
6,UK Black Tech - London,https://ukblacktech.com/london-hub/,"[https://www.instagram.com/ukblacktech/, https...","[General Technology, Job Board]",https://ukblacktech.com/wp-content/uploads/201...,5dc2304d7517bb8ea6977f8515ca8996ec8f38b3,[BIPOC],"London, United Kingdom",UK Black Tech,,,,,,,,
10,YSYS,https://www.thisisysys.com,"[https://twitter.com/ThisIsYSYS, https://www.l...","[Job Board, General Technology, Industry Netwo...",,343b6e3e20d7ccecb4d81626fc7f793b0e18d1ff,,"London, United Kingdom",,,,,,,,,
22,GirlCode Berlin,https://www.girl-code.co.uk/,[https://join.slack.com/t/girlcodetalk/shared_...,[General Technology],https://static.wixstatic.com/media/5ca287_17f9...,doc-6039409131f00721401abfa3,[Women],"London, United Kingdom",GirlCode,https://www.girl-code.co.uk/,,,,,,,
26,GirlCode London,https://www.girl-code.co.uk/,[https://join.slack.com/t/girlcodetalk/shared_...,[General Technology],https://static.wixstatic.com/media/5ca287_17f9...,doc-6039409131f00721401abfa1,[Women],"London, United Kingdom",GirlCode,https://www.girl-code.co.uk/,,,,,,,
106,PyLadies London,https://pyladies.com/locations/,"[https://www.meetup.com/pyladieslondon/, https...",[Python],https://pyladies.com/assets/images/pyladies_lo...,22b304741361277ebdda632af1ffacab51cbee24,[Women],"London, United Kingdom",PyLadies,https://pyladies.com,,,,,,,
114,Women Who Go - London,http://www.meetup.com/Women-Who-Go-London/,"[http://www.meetup.com/Women-Who-Go-London/, h...",[Go],http://www.womenwhogo.org/assets/images/wwglog...,613e79eb04c2c35d30057eae70d927bab68f2210,[Women],"London, United Kingdom",Women Who Go,https://womenwhogo.org,,,,,,,
119,London Latinas in Tech,https://www.latinasintech.org/chapter/london,,[General Technology],https://www.latinasintech.org/wp-content/uploa...,c2b888e89cd2835ba42d46378b15defb3b25bb8f,"[Latinx, Women]","London, United Kingdom",Latinas in Tech,https://www.latinasintech.org/,,,,,EMEA-UKN,,
124,Django Girls London,http://djangogirls.org/london/,[https://twitter.com/@DjangoGirlsLDN],"[Django, Python]",https://github.com/DjangoGirls/resources/blob/...,5c7946ee2e6f269718bfc167f00d049917286932,[Women],"London, United Kingdom",Django Girls,http://djangogirls.org,,,,,EMEA-UKN,,
188,DjangoGirls PyCon UK,https://djangogirls.org/pyconuk/,[https://twitter.com/@DjangoGirlsPyUK],"[Django, Python]",https://github.com/DjangoGirls/resources/blob/...,ba3345202e68e2cf817a6bfab143942e2e9ceb0e,[Women],"London, United Kingdom",Django Girls,http://djangogirls.org,,,,,EMEA-UKN,,
212,WISP London,https://www.wisporg.com/london,,[Cyber Security],https://kjaymiller.s3-us-west-2.amazonaws.com/...,4b73ea68f6dc18e97ec269f95aa8b2d63bb04043,[Women],"London, United Kingdom",Women in Security and Privacy,https://www.wisporg.com/,,,,,EMEA-UKN,,
285,Blacks in Technology - London,https://www.meetup.com/blacks-in-technology-lo...,,[General Technology],https://kjaymiller.s3-us-west-2.amazonaws.com/...,2933bdf0adf784b3e91c5309633ac379a0095459,[BIPOC],"London, United Kingdom",Blacks in Technology Foundation,https://blacksintechnology.net,,,,,,,
372,Out in Tech London,https://outintech.com,,[General Technology],https://kjaymiller.s3-us-west-2.amazonaws.com/...,8e2cf4c1a5d00a0eb09af0a727dd9dba9b7e5227,[LGBTQIA+],"London, United Kingdom",Out in Tech,http://outintech.com/subscribe,,,,,EMEA-UKN,,
397,BUILT London,https://www.meetup.com/blacks-united-in-leadin...,[https://www.meetup.com/blacks-united-in-leadi...,[General Technology],https://builtinternational.org/wp-content/uplo...,e5b59afc4e81b5e578453b2d395a3f0460fe2b3f,[BIPOC],"London, United Kingdom",Blacks United in Leading Technology International,https://builtinternational.org,,,,,,,
427,Women Who Code London,https://womenwhocode.com/london,,[General Technology],https://kjaymiller.s3-us-west-2.amazonaws.com/...,dbcc7b6e204e729e9d8b1402d954fef6882bce9d,[Women in Tech],"London, United Kingdom",Women Who Code,https://womenwhocode.org,,,,,,,

In [13]:
# Save your Work
df.to_json('updated_diversity_orgs.json', orient="records")